:root {
    --secondary-color: #00bfff;
    --main-color: #554739;
    --nav-bar-height: 5rem;
    --text-color: hsl(0, 0%, 90%);
    --main-color2: hsl(30, 50%, 35%);
    --project-name-height: 3rem;
}

html {
    scroll-behavior: smooth;
}

* {
    /* border: 1px solid tomato; */
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    box-sizing: border-box;
    font-size: 62.5%;
    color: var(--text-color);
    font-family: Inter, sans-serif;
    scroll-snap-type: y mandatory;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 10000;
}

.nav-list {
    display: flex;
    margin-right: 1.5rem;
}

.nav-list a {
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--main-color);
    font-weight: 500;
    padding: 1.5rem;
}

.nav a:hover {
    background-color: #554739;
    color: var(--text-color);
}

li {
    list-style-type: none;
    height: 100%;
}

ul {
    list-style: none;
}

section {
    scroll-snap-align: start;
}

.main {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(
        circle farthest-corner at bottom left,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.9) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text {
    font-size: 2.5rem;
    text-align: center;
}

.name-thing {
    font-family: "Fira Code", Roboto, sans-serif;
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin-top: 1rem;
}

#projects {
    background-image: linear-gradient(
        -135deg,
        hsl(345, 100%, 15%),
        hsl(195, 33%, 35%)
    );
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
}

.projects-img-wrapper {
    margin: 3rem 2rem;
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-gap: 2rem;
    max-width: 980px;
}

.project-tile {
    max-width: 350px;
    margin: 0 2rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .5);
}

.project-tile:hover {
    cursor: pointer;
}

.project-name {
    margin: 0;
    margin-top: -2px;
    padding: 0;
    height: var(--project-name-height);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.29);
    border-radius: 0 0 5px 5px;
    text-align: center;

    /* Add glassmorphism */
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
}

.project-tile a {
    text-decoration: none;
    color: var(--text-color);
}

.project-name-code {
    color: transparent;
    margin: 0;
    padding: 0;
    margin: 0 5px;
    font-size: 1.3rem;
    text-align: center;
}

.project-tile:hover .project-name-code {
    color: hsl(0, 100%, 40%);
    transition: all 300ms linear;
}

.project-img {
    width: 100%;
    height: calc(100% - var(--project-name-height));
    object-fit: cover;
}

.projects-header {
    font-size: 2.7rem;
    position: relative;
}

.projects-header::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--text-color);
}

#contacts-section {
    width: 100vw;
    height: 100vh;
    padding-top: 8rem;
}